* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { 
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    overflow: hidden;
 }

.hide {
	display: none;
}

.hide_o {
    opacity: 0;
}

.mask {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color:#000;
    z-index: 100;
}

.qr_demowifi {
	width: 300px;
	height: 300px;
	margin: 2% auto;
	border-radius: 5px;
}

.step {
	background-size: 100% 100%;
	width: 	100%;
	height: 100%;
    position: relative;
}

.step1 {
	background-image: url('../img/waiting.jpg');
}

.step3 {
    background-color: #28231F;
}
.user_content {
	text-align: center;
}

.user_avatar1 {
	position: relative;
	margin: 2% auto;
    width: 165px;
    height: 155px;
	border-radius: 5px;
}

.user_name {

}

/* countdown */
.countdown > div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 440px;
    margin-left: -275px;
    margin-top: -220px;
    z-index: 200;
    background-size: contain;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}



.countdown_3 {
    background: url('../img/cd3.png') no-repeat;
}

.countdown_2 {
    background: url('../img/cd2.png') no-repeat;
}

.countdown_1 {
    background: url('../img/cd1.png') no-repeat;
}

/*cheers*/
.cheers > .container{
            width: 100%;
            height: 80%;
            padding-top: 30%;
        }
        .go{
            position: relative;
            background-image: url('../img/go.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .left-beer {
            background-image: url('../img/beerA.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
        }

        .right-beer {
            background-image: url('../img/beerB.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
            right: 0px;      
        }
        .foam {
            background-image: url('../img/foam.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 75px;
            height: 75px;
            position: absolute;
            top:180px;
            left: 62%;
            margin-left: -50px;
            opacity: 0;
        }


/*in game*/
.in-game {
      background-image: url('../img/in_game_bg.jpg');
      width: 100%;
    }
.wheel {
  position: absolute;
  background-image: url('../img/wheel.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 48%;
  left:50%;
  margin-left: -150px;
  margin-top: -150px;
  width: 300px;
  height: 300px;
}



.hand {
  position: absolute;
  background-image: url('../img/shake_hand.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 36%;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  transform: rotate(-30deg);
}

/*result*/
.result_win {
    background-image: url('../img/win.jpg');
}

.step5 .btn_get_point {
    position: absolute;
    width: 200px;
    height: 85px;
    left: 50%;
    top: 56%;
    margin-left: -100px;
    border-radius: 45px;
}

.step5 .btn_get_point:hover{
    cursor: pointer;
}

.result_lose {
    background-image: url('../img/lose.jpg');
}