* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { 
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    overflow: hidden;
 }

.hide {
	display: none;
}

.qr_demowifi {
	width: 300px;
	height: 300px;
	margin: 2% auto;
	border-radius: 5px;
}

.step {
	background-size: 100% 100%;
	width: 	100%;
	height: 100%;
}

.step1 {
	background-image: url('../img/waiting.jpg');
}

.step3 {
    background-color: #28231F;
}
.user_content {
	text-align: center;
}

.user_avatar1 {
	position: relative;
	margin: 2% auto;
    width: 165px;
    height: 155px;
	border-radius: 5px;
}

.user_name {

}

/* countdown */
@keyframes countdown {
    0% {
        background-image: url('../img/countdown3.jpg');
    }
    33.3% {
        background-image: url('../img/countdown2.jpg');
    }
    66.6% {
        background-image: url('../img/countdown1.jpg');   
    }
    100% {
        background-image: url('../img/countdown1.jpg');
    }
}

.ani-countdown {
    animation-name: countdown;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/*cheers*/
.cheers > .container{
            width: 100%;
            height: 80%;
            padding-top: 30%;
        }
        .go{
            position: relative;
            background-image: url('../img/go.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            opacity: 0;
/*            animation-name: k-go;
            animation-duration:.8s;
            animation-timing-function: cubic-bezier(.32,0,.68,1.31);
            animation-fill-mode: forwards;
            animation-delay: .1s;*/
        }
        .left-beer {
            background-image: url('../img/beerA.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
/*            animation-name: k-left-beer;
            animation-duration:.8s;
            animation-timing-function: cubic-bezier(.32,0,.68,1.31);
            animation-fill-mode: forwards;
            animation-delay: .1s;*/
        }
        .right-beer {
            background-image: url('../img/beerB.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
            right: 0px; 
/*            animation-name: k-right-beer;
            animation-duration:.8s;
            animation-timing-function: cubic-bezier(.32,0,.68,1.31);
            animation-fill-mode: forwards;
            animation-delay: .1s; */       
        }
        .foam {
            background-image: url('../img/foam.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 75px;
            height: 75px;
            position: absolute;
            top:180px;
            left: 62%;
            margin-left: -50px;
            opacity: 0;
/*            animation-name: k-foam;
            animation-duration:.8s;
            animation-timing-function: cubic-bezier(.32,0,.68,1.31);
            animation-fill-mode: forwards;
            animation-delay: .1s;*/
        }

        @keyframes k-left-beer {
            from {
                left: 0;
            }
            to {
                left: 50%;
                margin-left:-50px;
                transform: scale(1.2) rotate(-15deg);
            }
        }
        @keyframes k-right-beer {
            from {
                right: 0;
            }
            to {
                right: 25%;
                margin-right: -40px;
                transform:scale(1.2) rotate(15deg);
            }
        }
        @keyframes k-foam {
            0 {
                opacity: 0;
            }
            80% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                top:170px;
                transform: scale(1.2);
            }
        }
        @keyframes k-go {
            0 {
                opacity: 0;
            }

            100% {
                opacity: 1;
                transform: scale(1.2);
            }
        }