* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { 
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    overflow: hidden;
 }

.hide {
	display: none;
}

.hide_o {
    opacity: 0;
}

.mask {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color:#000;
    z-index: 100;
    opacity: 0.6;
}

.qr_demowifi {
	width: 300px;
	height: 300px;
	margin: 2% auto;
	border-radius: 5px;
}

/*Login Page*/
.status--welcome {
    background: url('../img/waiting_role1.jpg') no-repeat;
    background-size: cover;
}

.code-popup {
  position: relative;
  display: block;
  margin: 200px auto 0;
  width: 240px;
  height: 232.5px;
  background: url('../img/code_bg.png');
  background-size: cover;
}
.code-popup img {
  width: 50%;
  position: absolute;
  top: 18%;
  left: 26%;
}

.step {
	background-size: 100% 100%;
	width: 	100%;
	height: 100%;
    position: relative;
}

.step1 {
	background-image: url('../img/waiting.jpg');
}

.step1 > div {
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
    position: relative;
}

.step1 > .role1_waiting{
    background-image: url('../img/waiting_role1.jpg');
}

.step1 > .role2_waiting{
    background-image: url('../img/waiting_role2.jpg');
}

.step3 {
    background-color: #28231F;
}
.user_content {
	text-align: center;
}

.user_avatar1 {
	position: relative;
	margin: 2% auto;
    width: 165px;
    height: 155px;
	border-radius: 5px;
}

/* countdown */
.countdown > div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 440px;
    margin-left: -275px;
    margin-top: -220px;
    z-index: 200;
    background-size: contain;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}



.countdown_3 {
    background: url('../img/cd3.png') no-repeat;
}

.countdown_2 {
    background: url('../img/cd2.png') no-repeat;
}

.countdown_1 {
    background: url('../img/cd1.png') no-repeat;
}

/*cheers*/
.cheers > .container{
            width: 100%;
            height: 80%;
            padding-top: 30%;
        }
        .go{
            position: relative;
            background-image: url('../img/go.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .left-beer {
            background-image: url('../img/beerA.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
        }

        .right-beer {
            background-image: url('../img/beerB.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top:250px;
            right: 0px;      
        }
        .foam {
            background-image: url('../img/foam.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 75px;
            height: 75px;
            position: absolute;
            top:180px;
            left: 62%;
            margin-left: -50px;
            opacity: 0;
        }


/*in game*/
.in-game {
      background-image: url('../img/in_game_bg.jpg');
      width: 100%;
}
.in-game .wheel {
  position: absolute;
  background-image: url('../img/wheel.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 48%;
  left:50%;
  margin-left: -150px;
  margin-top: -150px;
  width: 300px;
  height: 300px;
}



.in-game .hand {
  position: absolute;
  background-image: url('../img/shake_hand.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 36%;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  transform: rotate(-30deg);
}

.in-game .avatar {
  position: absolute;
  background-image: url('../img/circle_avatar.png');
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 10;
}

.in-game .avatar img {
    width: 70px;
    height: 70px;
    margin-top: 16px;
}

.in-game .tip {
  position: absolute;
  background: url("../img/tip.png") no-repeat;
  background-size: contain;
  width: 80%;
  height: 15%;
  left: 18%;
  bottom: 5%;
}
/*result*/
.result_win {
    background-image: url('../img/win.jpg');
}

.step5 .btn_get_point {
    position: absolute;
    width: 200px;
    height: 85px;
    left: 50%;
    top: 48%;
    margin-left: -100px;
    border-radius: 45px;
}

.step5 .btn_get_point:hover{
    cursor: pointer;
}

.step5 .banner {
  position: absolute;
  width: 234px;
  height: 90px;
  left: 50%;
  margin-left: -117px;
  top: 44%;
  margin-top: -45px;
  z-index: 110;
}

.step5 .banner_success {
  background: url('../img/coupon_success.png') no-repeat;
  background-size: contain;
}

.step5 .btn_close {
  position: absolute;
  width: 25px;
  height:25px;
  top: 32%;
  right: 14%;
  background: url("../img/icon_x.png") no-repeat;
  background-size: contain;
  display: none;
  z-index: 110;
}

.step6 .btn_close {
    position: absolute;
    width: 200px;
    height: 85px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    border-radius: 45px;
}

.result_lose {
    background-image: url('../img/lose.jpg');
}

.ad {
  position: absolute;
  width: 96%;
  height: 17%;
  margin-left: 2%;
  bottom: 0;
  background: url('../img/ad.png') no-repeat;
  background-size: contain;
}

.step5 .btn_ad_close, .step6 .btn_ad_close {
  position: absolute;
  width: 15px;
  height:15px;
  top: 5%;
  right: 2%;
  background: url("../img/icon_x.png") no-repeat;
  background-size: contain;
  z-index: 110;
}